<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class='container-fluid px-4'>
		<a class="navbar-brand" href='/'>Esprit</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
				 
			<a id = 'homeButton' class="navbar-nav nav-link" href="/blogs">Home</a>
			<a id = 'homeButton' class="navbar-nav nav-link" href="/about">About & Contact</a>
			<ul class="navbar-nav ml-auto">
				
				<% if(!currentUser){ %>
					<li class="nav-item active">
						<a class="nav-link" href="/login">Login</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/register">Sign Up</a> 
					</li>
				<% } else { %>
					<li class="nav-item-active dropdown">
						<a id='navNotification' class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Notifications <span class="badge badge-secondary"><%= notifications.length %></span>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<% notifications.forEach(function(notification) { %>
                               <a class="dropdown-item" href="/notifications/<%= notification.id %>">
                                 <%= notification.username %> created a New Blog!
                               </a>
                    		<% }); %>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/notifications">View Past Notifications</a>
						</div>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/users/<%=currentUser._id%>">Signed In As <%= currentUser.username %></a>
					</li>					
					<li class="nav-item active">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>