<% if(blogs.pages > 1) { %>
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <% if(blogs.page - 1) { %>
            <li class='page-item'>
            	<a class="page-link" href="<%= paginateUrl %><%= blogs.page - 1 %>">Previous</a>
            </li>
        <% } %>
        <% for(let i = 1; i <= blogs.pages; i++) { %>
            <li class="page-item <%= blogs.page === i ? 'active' : '' %>" >
        	    <a class="page-link" href="<%= paginateUrl %><%= i %>"> <%= i %></a>
    	    </li>
        <% } %>
        <% if((blogs.page + 1) <= blogs.pages) { %>
            <li class='page-item'>
        	    <a class="page-link" href="<%= paginateUrl %><%= blogs.page - 1 %>">Next</a>
        	</li>
        <% } %>
    </ul>
</nav>

<% } %>

