<%- include('../partials/header') %>

<div class = 'container-fluid mt-4 formClass'>
	
	<div class='alert alert-danger text-center' id="error" role='alert' style="display:none;"></div>
	
	<div class = 'text-center'>
		<h1>Edit <%= user.username %>'s Profile</h1>
	</div>
  
	<div class="mt-5">
		<form action = '/users/<%= user._id %>?_method=PUT' method = 'POST' enctype="multipart/form-data">
		    <div class="form-row">
		        
		        <div class="col-md-4 text-center" style="margin-top: 30px;">
    		        <div class="form-group">
                        <label for="avatar" class='custom-file-upload'><i class="fas fa-camera-retro"></i></label>
                        <br><small>(This Deletes Existing Image)</small>
                        <input class="form-control" type="file" id="avatar" name="avatar" style="display: none;">
                    </div>
		        </div>
		        
		        <div class="col-md-8">
		            <div class='form-row'>
                        <div class="form-group col-md-6">
            				<label for="username">Username</label>
            				<input type="text" name='username' class="form-control" id="username" value="<%= user.username %>" placeholder="Elemento"autofocus required>
            			</div>
            			<div class="form-group col-md-6">
                            <label for="email">E-Mail</label>
                            <input class="form-control" type="email" id="email" name="email" value="<%= user.email %>" placeholder="colt123@gmail.com" required>
                        </div>
		            </div>

        			<div class='form-row'>
            	        <div class = 'form-group col-md-6'>
            				<label for= 'firstName'>First Name</label>
            				<input type = 'text' name = 'firstName' class = 'form-control' value="<%= user.firstName %>" placeholder="Colt" required>
            			</div>
            			<div class = 'form-group col-md-6'>
            				<label for= 'lastName'>Last Name</label>
            				<input type = 'text' name = 'lastName' class = 'form-control' value="<%= user.lastName %>" placeholder="Steele" required>
            			</div>        			    
        			</div>
        			
        			<div class='form-row'>
                        <div class="form-group col-md-4">
                            <label for="facebook">Facebook</label>
                            <input class="form-control" type="text" id="facebook" name="facebook" value="<%= user.facebook %>" placeholder="Facebook Link">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="instagram">Instagram</label>
                            <input class="form-control" type="text" id="instagram" name="instagram" value = "<%= user.instagram %>" placeholder="Instagram Link">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="twitter">Twitter</label>
                            <input class="form-control" type="text" id="twitter" name="twitter" value="<% user.twitter %>" placeholder="Twitter Link">
                        </div>
        			</div>
        			
        			<div class="form-group">
                        <label for="about">About You</label>
                        <textarea class="form-control" type="text" rows=4 id="about" name="about" value="<%= user.about %>" placeholder="Tell us something about you..."><%= user.about %></textarea>
                    </div>
                    
                    <div class='form-row'>
                    	<div class="form-group col-md-6">
                            <label for="new-password">New Password</label>
                            <input type="password" class="form-control" name="newPassword" id="new-password" placeholder="New Password">
                        </div> 
                        <div class="form-group col-md-6">
                            <label for="password-confirmation">Password Confirmation</label>
                            <input type="password" class="form-control" name="passwordConfirmation" id="password-confirmation" placeholder="Password Confirmation">
                        </div>
                    </div>
                    
                    
        			<div class="input-group mb-3">
        			    <div class="input-group-prepend">
        				    <div class="input-group-text">
        					    <input type="checkbox" aria-label="Checkbox for following text input">
        			        </div>
        				</div>
        				<input type="password" class="form-control" id = "admin-code" name = 'adminCode' aria-label="Text input with checkbox" placeholder = "Only for Admin ..." disabled>
        			</div>
        			
        			<div class="form-group">
                        <label for="current-password">Current Password</label>
                        <input type="password" class="form-control" name="currentPassword" id="current-password" placeholder="Current Password (Required to Update Profile)" required>
                    </div>
        		
                    <small id="validation-message"></small>
        			<button id = "update-profile" type="submit" class="btn btn-primary float-right mb-5">Update</button>
		        </div>

		    </div>
		</form>
	</div>
</div>

<script src = "/scripts/profile-update.js"></script>
<script src = "/scripts/user-register.js"></script>

<%- include('../partials/footer') %>